<div class="container">

  <h1 class="all-main">All Lists</h1>
  <ul class="listing">
    <% @lists.each do |list|%>
    <li><%= link_to list.name, list_path(list)%></li>
      <% if list.photo.attached? %>
        <%= cl_image_tag(list.photo.key, height: 400, width: 300, crop: :fill) %>
      <%else%>
        <%# <%= "No image uploaded"%> %>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "Add a List",  new_list_path, class:"btn btn-primary" %>
</div>
