<div class ="container">
  <h1 class="all-main">All Movies</h1>
  <div class="row">
    <% @movies.each do |movie| %>
    <div class="img-container col-lg-6">
      <%= image_tag movie.poster_url, alt: "movie", width: 320 %>
      <div class="overlay">
      <p class="text"><%= movie.title %></p>
      <% movie.rating.times do %></p>
      <i style="color:white;text-align:center;diplay:inline;font-size:32px;" class="fas fa-star text-star"></i>
      <% end %>
      </div>
  </div>
<% end %>
</div>
</div>
